@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
  // font-family: "Playfair Display", serif !important;
  // font-family: "Be Vietnam Pro", sans-serif !important;
//   font-size: 18px !important;
}
